.form,.container .tasks {
    background-color: #eee;
    width: 500px;
    margin: 30px auto;
    border-radius: 20px;
  }
  .form .input {
    margin: 20px;
    padding: 10px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 20px;
    
  
  }
  .add {
    padding: 10px;
    background-color: red;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  